<!DOCTYPE html>
<html>
<head>
  <title>Freecycle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'shared/navbar' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "https://use.fontawesome.com/fe8336bee6.js" %>
</body>
</html>
